@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Serif&display=swap");

.main-title {
  font-family: "EB Garamond", serif;
  font-size: 60px;
  padding-top: 20px;
}
.add-service{
  
  padding-bottom: 50px;
}

.add-service form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-service form input,
textarea {
  width: 100%;
  margin-bottom: 8px;
  border:1px solid #30336b;
  
}
.btn-design-add{
  background: linear-gradient(to top, #800080, #ffc0cb);
}